html {
    font-family: "Karla", "Lato", sans-serif;
}

/* Headings and nav - Lato */
/* Body text and buttons - Karla */

h1, h2, h3, nav>* {
    font-family: "Lato";
}

h1, button, span { 
    text-transform: uppercase;
}

/* a {
    text-decoration: none;
    list-style-type: none;
} */

header{
    color: #ffff; 
    display: block;
    background-size:cover;
    height: 496px;
    /* position: relative */

}

.nav-bar{

}

.hero {
    text-align: center;
    height: 100%;
}

.banner-img {
    filter: brightness(50%)

}

.nav-bar {
    /* position: absolute */
}