@import url('./variables.css');

html {
    font-family: "Karla", "Lato", sans-serif;
}

/* Headings and nav - Lato */
/* Body text and buttons - Karla */

h1, h2, h3, nav>* {
    font-family: "Lato";
}

h1, h2, h3, button, span { 
    text-transform: uppercase;
}

span, cite {
        color: var(--accent);
        font-weight: 750;
    }

/* a {
    text-decoration: none;
    list-style-type: none;
} */


    h1 {
    font-size: var(--fs-h1);
    }
    h2 {
    font-size: var(--fs-h2);
    }
    h3 {
    font-size: var(--fs-h3);
    }
    p {
    font-size: var(--fs-p);
    
    }

    
    .container { 
            padding: 0 5%; 
        }
    
    /* banner & navigation */

    .nav{
        width: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }

    .banner{
        background: linear-gradient(rgba(0, 0, 0, 0.5)), url(/images/hero-background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        text-align: center;
        color: var(--text-light);
        display: flex;
        flex-direction: column;
        
    }
  
    .navigation {
        display: none;
    }

    .logo {
        top: 2em;
        left: 1em;
        width: 15em;
    }

    .navbar {
        margin-top: 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: white 1px solid; 
    }
    

    /* welcome section */
    .welcome {
        background-color: var(--bg-light);
        padding: 0 5%;
        text-align: left;
        width: 100%;
        height: 100%;
        
    }

    .welcome-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3;
        gap: 1em; 
        
    }

    .welcome-img1 {
        grid-row: 1;
        grid-column: 1/3;
    }
    
    
    .welcome-img2 {
        grid-row: 2/3 ;
        grid-column: 1/2;
    }
     .welcome-img3 {
        grid-row: 2/3 ;
        grid-column: 2/3;
    }

     .welcome-img4 {
        grid-row: 3/4 ;
        grid-column: 1/2;
    }

     .welcome-img5  {
        grid-row: 2/3 ;
        grid-column: 1/2;
    }


    a .button {
        padding: 10px;
        background-color: white;
        color: black;
    }

    .usp {
        margin: 5em 0;
    }

    .usp *{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: .25em;
        gap: .75em;
        text-align: center;
    }

    .usp-logo {
        width: 10em;
    }

    .usp-cards{
       padding: 2em 0;
       display: flex;
    }

    .shop img {
        position: relative;
    }

    .shop {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1em auto;
        background: linear-gradient(rgba(0, 0, 0, 0.5)), url(/images/coffee-shop.jpeg);
        background-position: center;
        background-size: cover;
        height: 100%;
        font-size: ;
    }
    
    .shop div {
        padding: 2em;
        display: flex;
        flex-direction: column;
        gap: 0.75em;
    }

    .menu a {
        text-decoration: none;
        color: black;
        background-color: #ffff;
        padding: 1em;
        font-size: 1.25em;
        text-transform: uppercase;
        font-weight: 700;

    }

     .locations a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        padding: 1em;
        font-size: 1.25em;
        border: solid white 1px;
        text-transform: uppercase;
        font-weight: 700;

    }
    

    .shop h2 {
        color: var(--text-light);
    }

/* about us section */

    .about-us img{
        width: 100%;
        height: 23.5em;
        object-fit: cover;
        
    }

    .about-us {
        display: flex;
        flex-direction: column;
        padding: 1em;
        background: var(--bg-light);
    }

    .about-us *{
        padding: 10px 0;

    }
    
    .about-us p {
        color: black;
    }



/* testimonials section */
   
    .testimonials {
        background: var(--bg-dark);
        padding-top: 3em;
        padding-bottom: 3em;
   
    }

    .testimonials div cards {
        position: relative;
    }

    .testimonials content {
        position: absolute;
    }

    .testimonials h2, p {
        color: var(--text-light);
        margin-bottom: 1em;
    }
    
    .testimonials cite {
        text-transform: uppercase;
    }
    

    /* footer section */

    footer {
        background: var(--bg-dark);
        padding-bottom: 5em;
        display: flex;
        justify-content: center;
    
    }

    footer p {
        color: var(--text-light);
        border-top: solid 1px var(--text-light);
        padding: 4em;
        height: 100%;
        font-size: 1em;

    }

                                    /* Tablet Size */

@media screen and (min-width: 768px), (max-width:1440){
    



 }

